.footer {
    background: transparent; 
    /* Diagonal gradient with opacity for depth */
    color: #f0f0f0;               /* Light grey text for better contrast */
    padding: 10px;                /* Slightly increased padding */
    text-align: center;
    border-top: 1px solid #333;   /* Optional: A dark border at the top */
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */

}

.footer-content p {
    margin: 10px 0;
    font-size: 16px;
    color: #e0e0e0;               /* Slightly lighter grey for paragraph text */
}

.footer a {
    color: #f0f0f0;               /* Links can have light color */
    text-decoration: none;        /* Remove underline from links */
}

.footer a:hover {
    color: #b089ea;               /* Highlight link on hover with a lighter purple */
}

.social-icons a {
    margin: 0 10px;
    color: grey;            /* Purple accent color for social media icons */
    text-decoration: none;
    transition: color 0.3s ease, opacity 0.3s ease; 
}

.social-icons a:hover {
    text-decoration: underline;
    color: white;            /* Slightly lighter purple on hover */
}
