.info {
    padding: 40px 20px;
    margin-top: 0px;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.info-item {
    background: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
}

.info-item:hover {
    transform: translateY(-2px);
}