.profile {
    padding: 40px 20px;
    align-items: center;
}
.profile h1 {
    text-align: center;
}
.profile p {
    text-align: center;
}

.profile-container {
    display: flex;
    margin: auto;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align items */
}



.profile-pic {
    width: 150px;                      /* Set the width for the profile picture */
    height: 150px;                     /* Set the height for the profile picture */
    border-radius: 50%;                /* Make the image circular */
    object-fit: cover;                 /* Maintain aspect ratio */
    margin-top: 10px;
    margin-bottom: 10px;               /* Space between image and text */
    border: 2px solid #6b5b95;         /* Optional: Add a border color */
}
