* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    margin: 20px 0;
}

.about {
    background: white;
    padding: 40px 20px;
}



